*.iml
.idea
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
./app/build
app/release
app/release_mini
/captures
app/release/app-release.apk
.cxx
app/debug/app-debug.apk
app/debug/output-metadata.json
*.exe
perf-gui/build/*
perf-gui/node_modules/*
perf-gui/package-lock.json
