.css-1aznpnh-MuiSlider-root {
  margin-bottom: 0;
}
.MuiSlider-markLabel {
  display: none;
}

.code {
  line-height: 1;
}
code {
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
  font-size: 10px;
  line-height: 1.12;
  display: block;
  padding: 7px 10px;
  border-radius: 5px;
  background-color: #f8f8f8;
}